/* GENERIC */
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #191919;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 5.5rem;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  letter-spacing: -5px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e6e7e6;
  padding-right: 0.5em;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1em;
}

h6 {
  font-size: 1rem;
  color: #757575;
  padding-top: 1em;
  padding-bottom: 2em;
}

.column {
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  all: unset;
}

input {
  border-width: 0;
  background-color: black;
  border-radius: 50px;
  color: whitesmoke;
  padding: 0.5em 1em;
  font-size: 0.8rem;
}

/* HEADER */

header {
  background-color: #ffbf18;
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
nav {
  font-size: 0.8rem;
  line-height: 20px;
  padding: 15px 10% 15px 10%;
}
nav div {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}
nav ul {
  display: inline-block;
  vertical-align: middle;
  width: 59%;
  text-align: end;
}
nav ul a {
  margin: 0 0.8em;
}
.hero {
  display: flex;
  padding-left: 10%;
  justify-content: space-between;
  font-size: 1.2rem;
  border-block: solid black 1px;
}

.hero input {
  font-size: 1rem;
  padding-inline: 3em;
  margin-top: 3em;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
}

.trend {
  display: flex;
  align-items: center;
  padding: 3em 0 1em 10%;
}

.trend p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 0.5em;
}

.toparticle {
  padding-bottom: 3em;
  padding-left: 10%;
  font: 0.8rem;
  display: flex;
  justify-content: space-around;
  max-width: fit-content;
  border-bottom: #e6e7e6 solid 1px;
}

.toparticle img {
  width: 30px;
}

.container {
  display: flex;
  justify-content: center;
}
.round {
  border-radius: 50%;
  overflow: hidden;
}
.square {
  border-radius: 10px;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container article {
  display: flex;
  flex-grow: 1;
  width: 600px;
}

article .column div {
  display: flex;
}
.content div {
  padding-bottom: 1em;
  align-items: center;
}
.articles {
  display: flex;
  padding-top: 5%;
  padding-left: 10%;
}

.articles article {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}

.articles article img {
  max-width: 250px;
}

.articles h3 {
  font-size: 2rem;
  padding-block: 0.5em;
}

.author {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  align-items: baseline;
}
span {
  background-color: #f2f3f3;
  padding: 0.5em;
  border-radius: 50px;
}

.categories {
  margin-inline: 10%;
}
