/* GENERIC */
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #191919;
}

#star {
  width: 25px;
  position: relative;
  top: 7px;
  right: -5px;
}

p {
  color: #757575;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 5.5rem;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  letter-spacing: -5px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e6e7e6;
  padding-right: 0.5em;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1em;
}

h6 {
  font-size: 1rem;
  color: #757575;
  padding-top: 0.7em;
  padding-bottom: 2em;
}

.column {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  all: unset;
  cursor: pointer;
}

input {
  border-width: 0;
  background-color: black;
  border-radius: 50px;
  color: whitesmoke;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  cursor: pointer;
}

/* HEADER */

header {
  background-color: #ffbf18;
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

header p {
  color: black;
}

nav {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  padding: 15px 10% 15px 10%;
}

nav ul a {
  margin: 0 0.8em;
}
.hero {
  display: flex;
  padding-left: 10%;
  justify-content: space-between;
  font-size: 1.2rem;
  border-block: solid black 1.5px;
}

.hero input {
  font-size: 1rem;
  padding-inline: 3em;
  margin-top: 3em;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
}

.banner {
  display: inline-block;
  margin: 0 auto;
}

.trend {
  display: flex;
  align-items: center;
  padding: 3em 0 1em 0;
}

h5 {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-left: 0.5em;
}

.toparticle {
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  border-bottom: #e6e7e6 solid 1.5px;
}

.toparticle article {
  display: flex;
  max-width: 30%;
  width: 100%;
}

.toparticle img {
  width: 30px;
}

.round {
  border-radius: 50%;
  overflow: hidden;
}
.square {
  border-radius: 10px;
  overflow: hidden;
}

article .column div {
  display: flex;
}
.content div {
  padding-bottom: 1em;
  align-items: center;
}
.articles {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
}

.articles article {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
  width: 800px;
}

.box {
  width: 100%;
  padding-right: 10px;
}

.articles article img {
  max-width: cover;
}

.articles h3 {
  font-size: 2rem;
  padding-block: 0.5em;
}

.author {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.info img {
  position: relative;
  top: 7px;
}

.info div {
  display: flex;
  align-items: baseline;
}

span {
  background-color: #f2f3f3;
  padding: 0.2em 0.5em;
  border-radius: 50px;
}

aside {
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  color: #757575;
}

aside h5 {
  padding: 0;
  padding-bottom: 1.5em;
  color: black;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  border-bottom: #e6e7e6 solid 1.5px;
  max-width: 400px;
}

.categories a {
  font-size: 0.9rem;
  padding: 0.7em;
  margin: 0.2em;
  border: #757575 solid 1px;
  border-radius: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  padding-top: 1.5em;
  font-size: 0.9rem;
}

.menu a {
  margin-inline: 0.3em;
  line-height: 2.2em;
}
